{% extends "base.html" %}
{% block content %}
<h2>Add Album</h2>
<form method="post">
    <label>Album Title:</label><input type="text" name="albumtitle"><br>
    <label>Release Year:</label><input type="number" name="releaseyear"><br>

    <label>Bands (select multiple):</label><br>
    {% for band in bands %}
        <input type="checkbox" name="bandids" value="{{ band.BandID }}" id="band_{{ band.BandID }}">
        <label for="band_{{ band.BandID }}">{{ band.BandName }}</label><br>
    {% endfor %}
    <br>

    <button type="submit">Save</button>
</form>
{% endblock %}