{% extends "base.html" %}
{% block content %}
<h2>Add Album</h2>
<form method="post">
    <label>Album Title:</label><input type="text" name="albumtitle" required><br>
    <label>Release Year:</label><input type="number" name="releaseyear"><br>
    <label>Bands (select all that apply):</label><br>
    <div style="margin-left: 120px;">
        {% for band in bands %}
        <input type="checkbox" name="bandids" value="{{ band.BandID }}" id="band{{ band.BandID }}">
        <label for="band{{ band.BandID }}">{{ band.BandName }}</label><br>
        {% endfor %}
    </div>
    <br>
    <button type="submit">Save</button>
</form>
{% endblock %}